.NavBarLink {
    float: left;
}

.NavBarLink a {
    display: block;
    color: #F8F7FF;
    text-align: center;
    padding: 15px 30px 10px 30px;
    text-decoration: none;
    font-size: x-large;
    transition: padding 0.2s;
}

.NavBarLink a:hover:not(.active) {
    background-color: #57C6EA;
    padding: 15px 50px 10px 10px;
}

.NavBarLink a.active{
    color: #1C1018;
    background-color: #F8F7FF;
}