.NavBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

.NavBar li {
    float: left;
}

.NavBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: gray;
}